<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XMLgenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <XMLgenerator.Properties.Settings>
            <setting name="TeacherId" serializeAs="String">
                <value>000</value>
            </setting>
            <setting name="CourseId" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="RoomId" serializeAs="String">
                <value>00</value>
            </setting>
            <setting name="CurriculaId" serializeAs="String">
                <value>000</value>
            </setting>
        </XMLgenerator.Properties.Settings>
    </userSettings>
</configuration>